<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mali.funtime"  >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mali.funtime.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mali.funtime.XO"
            android:label="@string/title_activity_xo"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="mali.funtime.XO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mali.funtime.BeautifulSentences"
            android:label="@string/title_activity_beautiful_sentences"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="mali.funtime.BeautifulSentences" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mali.funtime.Notification_Setting"
            android:label="@string/title_activity_notification__setting"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="mali.funtime.Notification_Setting" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="mali.funtime.Service.ScheduleService" />
        <service android:name="mali.funtime.Service.NotifyService" />

        <activity
            android:name="mali.funtime.VIDEO"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="mali.funtime.VIDEO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mali.funtime.Songs"
            android:label="@string/title_activity_songs"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="mali.funtime.Songs" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
